  
          <!-- main-->
          <main class="container mt-3">
            <section id="contact" class="contact">
              <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                  <h2 class="text-center">Hỏi Đáp</h2>
                  
                </div>
        
                <div class="row">
        
                 
        
                  <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form name="frmLienHe" class="php-email-form">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="name">Tên Của Bạn</label>
                          <input name="name" ng-model="tlhientai.hoten" required ng-minlength="3" ng-maxlength="20" class="form-control">
                            <div ng-show = "frmLienHe.name.$invalid" class="badge badge-danger font-italic">
                                Nhập tên từ 3 đến 20 ký tự 
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="name">SỐ ĐIỆN THOẠI</label>
                          <input type="text" ng-model="tlhientai.sdt"  class="form-control" name="phone" required ng-minlength="3" ng-maxlength="12" />
                          <div ng-show = "frmLienHe.phone.$invalid" class="badge badge-danger font-italic">
                            Nhập Số Điện Thoại từ 3 đến 12 ký tự 
                           </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name">EMAIL</label>
                        <input type="email" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                      </div>
                      <div class="form-group">
                        <label for="name">Tin Nhắn</label>
                        <textarea class="form-control" ng-model="tlhientai.mess" name="message" rows="10" required ng-minlength="3" class="form-control"></textarea>
                        <div ng-show = "frmLienHe.message.$invalid" class="badge badge-danger font-italic">
                          Nhập tin nhắn đi bạn 
                         </div>
                      </div>
                      <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Tin nhắn của bản đã được gửi ! Cảm Ơn </div>
                      </div>
                      <div class="text-center"><button ng-click = "alert()"  type="submit">Gửi Hỏi Đáp</button></div>
                    </form>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Contact Section -->
      
        
          </main>
    